
<gt-chart-range ng-if="$state.is('page.jvm.gauges')"></gt-chart-range>

<span ng-if="$state.is('page.jvm.heapHistogram')">
    <div class="btn-group">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="selected"><a href="#">Contains</a></li>
                    <li><a href="#">Begins with</a></li>
                    <li><a href="#">Ends with</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" id="filter" placeholder="Filter By Name...">
        </div>
    </div>
    <div class="dropdown btn-group">
        <button
            type="button" 
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" 
            aria-haspopup="true"
            aria-expanded="false"
            >
            Display limit 
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 100)">
                    100
                </a>
            </li>
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 200)">
                    200
                </a>
            </li>
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 500)">
                    500
                </a>
            </li>
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 1000)">
                    1,000
                </a>
            </li>
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 2000)">
                    2,000
                </a>
            </li>
            <li>
                <a ng-click="broadcast('jvmHeapHistogramLimit', 5000)">
                    5,000
                </a>
            </li>
        </ul>
    </div>
    <!--    <select 
            ng-model="_filterLimit" 
            ng-change="broadcast('jvmHeapHistogramLimit', _filterLimit)"
            class="form-control"        
            >
            <option value="" disabled>Display limit</option>
            <option value="" disabled>&mdash;&mdash;&mdash;&mdash;&mdash;</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1,000</option>
            <option value="2000">2,000</option>
            <option value="5000">5,000</option>
        </select>-->
</span>

<span ng-if="$state.is('page.jvm.threadDump') || $state.is('page.jvm.mbeanTree') || $state.is('page.jvm.heapHistogram')">
    <button
        class="btn btn-primary"
        ng-click="broadcast('jvmRrefresh')"
        >
        Refresh
    </button>
</span>





<button
    class="btn btn-primary"
    gt-on-location-change="_expanded = false;broadcast('jvmExpandContent', _expanded)"
    ng-click="_expanded = !_expanded;broadcast('jvmExpandContent', _expanded)"
    >
    <span
        class="glyphicon glyphicon-resize-full"
        ng-class="{'glyphicon-resize-full':!_expanded, 'glyphicon-resize-small':_expanded}"
        >
    </span>
</button>
