<div ng-controller="PageCtrl" id="page-wraper" block-ui="main" ng-cloak>

    <!--Menu superior, header-->
    <div ng-include="'modules/GtApp/templates/NavBar.html'"></div>

    <div class="container main-container" id="page-content-container">
        <ol class="breadcrumb" ng-if="page.breadcrumb.length > 0">
            <li ng-repeat="item in page.breadcrumb">
                <a ui-sref="{{item.sref}}" ng-if="item.sref">{{item.title}}</a>
                <span ng-if="!item.sref">{{item.title}}</span>
            </li>
            <li>{{page.title}}</li>
        </ol>

        <header class="page-header {{page.titleClass}}">
            <h1>
                <div class="pull-right" ng-if="page.helpPopoverTemplate">
                    <a
                        uib-popover-template="page.helpPopoverTemplate"
                        popover-placement="left-top"
                        popover-class="popover-lg"
                        popover-trigger="click"
                        popover-append-to-body="true"
                        popover-animation="false"
                        style="cursor: help"
                        >
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </div>
                {{page.title}}
            </h1>
            <p class="lead" ng-if="page.subTitle">{{page.subTitle}}</p>
        </header>


        <!--Toobar START-->
        <div class="row toolbar-pf toolbar-notification" ng-class="{active:error}">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="toolbar-pf-action-right">
                        <div class="form-group toolbar-pf-view-selector" id="toolbar-content"></div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 toolbar-notification-container">
                <div class="toolbar-notification-content">
                    <div class="section-header">
                        <h2 class="title">
                            <div class="pull-right">
                                <button
                                    class="btn btn-danger"
                                    ng-click="error._showStacktrace = true;"
                                    ng-if="error.stackTrace && !error._showStacktrace"
                                    >
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    Show stack trace
                                </button>
                                <button
                                    class="btn btn-danger"
                                    ng-click="error._showStacktrace = false;"
                                    ng-if="error.stackTrace && error._showStacktrace"
                                    >
                                    <span class="glyphicon glyphicon-eye-close"></span>
                                    Hide stack trace
                                </button>
                                <button
                                    class="btn btn-default"
                                    ng-click="error = null;"
                                    >
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    Close
                                </button>
                            </div>

                            <span class="pficon pficon-error-circle-o"></span>
                            {{error.headline}}
                            <p class="lead" ng-if="error.message">
                                {{error.message}}
                            </p>
                        </h2>
                    </div>
                    <div
                        ng-if="error._showStacktrace"
                        ng-bind-html="error.stackTrace | gtTraceLine"
                        >
                    </div>
                </div>
            </div>
        </div>
        <!--Toobar END-->

        <div ui-view="page"><!--page content--></div>

        <div class="row" id="footer">
            <!--<tc-debug model="layout"></tc-debug>-->
            <div class="pull-right text-muted text-right">
                <a href="https://glowroot.org">
                    <img src="modules/GtApp/img/logo_2.png" height="15" data-pin-nopin="true">
                    <strong>Glowroot</strong>
                </a>
                <div>
                    <small>{{layout.footerMessage}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

